Source: ise-engine-default
Section: devel
Priority: extra
Maintainer: Li Zhang <li2012.zhang@samsung.com>
Uploaders: Hengliang Luo <hl.luo@samsung.com>, Haifeng Deng <haifeng.deng@samsung.com>, Jihoon Kim <jihoon48.kim@samsung.com>, Ji-hoon Lee <dalton.lee@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, pkg-config, libisf-dev
Standards-Version: 0.1.1
Homepage: N/A

Package: ise-engine-default
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A default keyboard engine of Tizen for supporting qwerty or 3x4 type hardware keyboards.

Package: ise-engine-default-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ise-engine-default (unstripped)
